/** @format */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600&display=swap");

// Mobile devices – 320px — 480px.
// iPads, Tablets – 481px — 768px.
// Small screens, laptops – 769px — 1024px.
// Desktops, large screens – 1025px — 1200px.
// Extra large screens, TV – 1201px, and more.

$primary: rgb(26, 34, 56);
$primary-alternate: hsl(224, 37%, 22%);
$secondary: #ff6a3d;
$text-color-1: #9daaf2;
$text-color-2: #f4db7d;

.social-media-desktop {
	position: fixed;
	bottom: 0;
	left: 55px;
	background: $secondary;
	// color: $secondary;
	width: 5px;
	height: 200px;
	// text-align: center;
	ul {
		list-style-type: none;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 20px;
		a {
			color: $secondary;
		}
		li {
			width: 50px;
			height: 50px;
			// background-color: $primary;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			i {
				transform: translate(0, -130px);
				font-size: 1.5rem;
				transition: all 0.3s ease;
				&:hover {
					color: $text-color-2;
					cursor: pointer;
				}
			}
		}
	}
}

.back-to-top {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: $secondary;
	position: fixed;
	bottom: 50px;
	right: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000;
	font-size: 1.5rem;
	box-shadow: 0 0 10px $secondary;
	transition: all 0.3s ease;
	cursor: pointer;
	z-index: 5;

	&:hover {
		transform: translate(0, -10px);
	}
}

.header,
.footer {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	scroll-snap-align: start;
}

.about,
.projects,
.skills {
	width: 100vw;
	height: 100vh;
}

.footer {
	height: 10vh;
	background-color: $primary;
	color: white;
}

@import "./scss/navbar";

@import "./scss/header";

@import "./scss/about";

@import "./scss/skills";

@import "./scss/projects";

@import "./scss//education";

@import "./scss/footer";

// @media screen and (min-width: 481px) and (max-width: 768px) {
// }

// Small screens, laptops – 769px — 1024px.
@media screen and (min-width: 769px) and (max-width: 1024px) {
	.social-media-desktop {
		display: none;
	}
}
