/** @format */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600&display=swap");

$primary: rgb(26, 34, 56);
$primary-alternate: hsl(224, 37%, 22%);
$secondary: #ff6a3d;
$text-color-1: #9daaf2;
$text-color-2: #f4db7d;

.social-media {
	position: fixed;
	bottom: 0;
	left: 55px;
	background: $secondary;
	color: $secondary;
	width: 5px;
	height: 200px;
	// text-align: center;
	ul {
		list-style-type: none;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		li {
			width: 50px;
			height: 50px;
			// background-color: $primary;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			i {
				transform: translate(0, -100px);
				font-size: 1.2rem;
				transition: all 0.3s ease;
				&:hover {
					color: #fff;
					cursor: pointer;
				}
			}
		}
	}
}

.header,
.about,
.projects,
.skills,
.education,
.footer {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	scroll-snap-align: start;
}

.footer {
	height: 10vh;
}

@import "./scss/navbar";

@import "./scss/header";

@import "./scss/about";

@import "./scss/skills";

@import "./scss/projects";

@import "./scss//education";

@import "./scss/footer";
