/** @format */

.projects {
	background-color: $primary-alternate;
	display: flex;
	align-items: center;
	justify-content: center;
	.project-container {
		width: 70vw;
		height: 65vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		.projects-heading {
			font-size: 2rem;
			color: $secondary;
		}
		.projects-heading::before {
			content: "03. ";
			color: white;
			font-size: 1.3rem;
			font-weight: 100;
		}
		.personal-projects {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			height: 700px;
			background-color: blue;

			.project {
				width: 300px;
				height: 200px;
				background-color: grey;
			}
		}
	}
}
